body {
    background-color: black;
    padding: 50px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: yellow;
    display: grid;
    width: 600px;
    height: 200px;
}

.item {
    background-color: steelblue;
    border: solid 3px rgb(59, 0, 59);
    margin: 2px;
}

#c-1.container {
    /* grid-template-columns: (3, 1fr);
    grid-template-rows: (2, 1fr); */
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    gap: 10px 20px;
    justify-items: end;
    /* horizontal */
    /* align-items: end; vertical */
}

.item-1{
    justify-self: start;
    align-self: flex-end;
    /* place-self: ; */
}•

#c-2.container {
    grid-template-columns: [linea-1] 1fr [linea-2] 1fr [linea-3] 1fr [linea-4];
    grid-template-rows: [row-start-1] 1fr [row-middle-2] 1fr [row-end-3];
    margin-top: 20px;
}

#c-3.container {
    margin-top: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        "header header header"
        "main . sidebar"
        "footer footer footer";
    background-color: blue;
}

.item-10 {
    background-color: aqua;
    grid-area: footer;
}

.item-20 {
    grid-area: sidebar;
}


/* #c-3.item{
    width: 100px;
    height: 100px;
    background-color: aqua;   
} */
/* .item-c3{
    width: 100px;
    height: 100px;
    background-color: aqua;
} */

.item-7 {
    grid-column-start: linea-1;
    grid-column-end: linea-3;
}


.container-cuatro {
    margin-top: 20px;
    background-color: yellow;
    display: grid;
    width: 600px;
    grid-template-columns: auto 50px auto;
    grid-template-rows: [row1-start] 150px [row1-end row2-start] 150px [row2-end];
    /* [row1-start nombre primera linea horizontal] 150px [row1-end row2-start]  150px [row2-end] */
    grid-template-areas:
        "header header header"
        "footer footer footer";
}

/* .container-cuatro {
    margin-top: 20px;
grid-template:
[row1-start] "header header header" 150px [row1-end]
[row2-start] "footer footer footer" 150px [row2-end]
/auto 50px auto;
} */

.item-cuatro {
    background-color: steelblue;
    border: solid 3px rgb(59, 0, 59);
    margin: 2px;
}
