body {
    background-color: black;
}


.container {
    display: flex;
    justify-content: space-between;
    
}

.box-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #42C920;
    color: white;
    font-size: x-large;
    font-weight: bold;
    width: 100px;
    height: 100px;
}
.box-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c92020;
    color: white;
    font-size: x-large;
    font-weight: bold;
    width: 100px;
    height: 100px;
}
